.layout_d920189b-6dd7-4953-9e28-0fc1610c4e32 {background-color: var(--pageColor);color: var(--textColor);}
.layout_3c70a31f-7987-499a-8ff4-4ed9b40aee24 {background-color: var(--pageColor);color: var(--textColor);}
.layout_f55b225a-1432-4071-964d-f0a420f11a8b {background-color: var(--pageColor);color: var(--textColor);}
.layout_c5aaca43-84a6-4577-ab3b-0b23af13ae96 {background-color: var(--pageColor);color: var(--textColor);}
.layout_d1c5fed3-279d-4e37-9f67-d329e2933d32 {background-color: var(--pageColor);color: var(--textColor);}
.layout_f29c498b-dd62-4875-a71a-b82cf9c850d1 {background-color: var(--pageColor);color: var(--textColor);}
.layout_ee2ef8d4-6e10-4e75-abf0-241961a4c9e4 {background-color: var(--pageColor);color: var(--textColor);}
#block__aa5cf7ff-e48c-45e1-9830-2d9b34f270e2 {

}
#block__3f8cdf3b-ea70-414b-9e4c-f2ac9a55942f {
  gap: 4rem;
}
#block__ebbb1642-c89a-4140-bfe3-a806830ec2ae {
  gap: 1rem;
}
#block__27f97020-eaf6-42b0-b3f8-6e091685dec7 {
  gap: 0rem;
}
#block__69791af7-43d8-4127-b490-4bd5ab4b693c {

}
#block__c73be36f-91d7-4007-97ef-fd11de3435c7 {

}
#block__f437b071-8b1a-4bc1-85e4-f9caecde5811 {

}
#block__9c42e671-7c81-467f-8e11-3e268a709484 {
  gap: 1rem;
}
#block__4d7525fd-f5f1-4a04-8c58-b36796dadd62 {
  gap: 0rem;
}
#block__998cea82-e5f3-4bc9-a6a2-c31cee259572 {
  gap: 0rem;
}
#block__f315f071-1cb1-48bc-9d5a-06a2a243d136 {
  gap: 1rem;
}
#block__2284a9d4-9880-4384-8a4c-21efa0317cad {

}
#block__bedfeb71-b259-407e-8790-444bcf0ffb73 {
  gap: 0rem;
}
#block__f6854712-ec6a-408b-a249-033f8e51a9db {
  gap: 0rem;
}
